<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>手写识别</title>
    <style>
        .doc {
            width: 604px;
            margin: 0 auto;
        }

        canvas {
            display: block;
            border: 2px solid #888;
        }
    </style>
<body>
<div class="doc">
    <canvas width="600" height="400" id="cvs"></canvas>
    <div>
        <p>
            <button id="clear">清空</button>
        </p>

    </div>
</div>
<script>
    var canvas, ctx, bMouseIsDown = false, iLastX, iLastY,
        $clear;

    function init() {
        canvas = document.getElementById('cvs');
        ctx = canvas.getContext('2d');
        $clear = document.getElementById('$clear');
        bind();
    }

    function bind() {
        canvas.onmousedown = function (e) {
            bMouseIsDown = true;
            iLastX = e.clientX - canvas.offsetLeft + (window.pageXOffset || document.body.scrollLeft || document.documentElement.scrollLeft);
            iLastY = e.clientY - canvas.offsetTop + (window.pageYOffset || document.body.scrollTop || document.documentElement.scrollTop);
        }

        canvas.onmouseup = function (e) {
            bMouseIsDown = false;
            iLastX = e.clientX - canvas.offsetLeft + (window.pageXOffset || document.body.scrollLeft || document.documentElement.scrollLeft);
            iLastY = e.clientY - canvas.offsetTop + (window.pageYOffset || document.body.scrollTop || document.documentElement.scrollTop);
            <!--alert("e.(clientX,clientY)=(" + e.clientX + "," + e.clientY + ") canvas.(offsetLeft,offsetTop)=(" + canvas.offsetLeft + "," + canvas.offsetTop + ") window.(pageXOffset,pageYOffset)=(" + window.pageXOffset + "," + window.pageYOffset + ") document.body.(scrollLeft,scrollTTop)=(" + document.body.scrollLeft + "," + document.body.scrollTop + "） document.documentElement.(scrollLeft, scrollTop)=("+document.documentElement.scrollLeft+","+document.documentElement.scrollTop+") (iLastX, iLastY)=("+iLastX+","+iLastY+")")-->
        }

        canvas.onmousemove = function (e) {
            if (bMouseIsDown) {
                var iX = e.clientX - canvas.offsetLeft + (window.pageXOffset || document.body.scrollLeft || document.documentElement.scrollLeft);
                var iY = e.clientY - canvas.offsetTop + (window.pageYOffset || document.body.scrollTop || document.documentElement.scrollTop);
                ctx.moveTo(iLastX, iLastY);
                ctx.lineTo(iX, iY);
                ctx.stroke();
                iLastX = iX;
                iLastY = iY;
            }
        };
    }


    onload = init;
</script>
</body>
</html>